body {
  background-color: #dddad6; }

h1 {
  text-align: center;
  color: #f9f1b5;
  padding: 25px;
  font-family: comic;
  text-shadow: 1px 1px #001F3F;
  font-size: 350%; }

#box {
  background: #ae9c96;
  color: #ae9c96;
  margin: 0px 200px 0px 200px;
  padding: 25px;
  border-radius: 10px;
  font-size: 150%; }

#box p {
  background-color: #ffffff;
  margin: 0px 50px 0px 50px;
  padding: 10px; }

section {
  margin: 15px;
  border: 1px solid #ae9c96;
  background-color: #a6d8de;
  text-align: center;
  margin: 0px 125px 0px 125px;
  padding: 15px; }

footer {
  text-align: center;
  position: bottom;
  padding: 20px; }

button {
  background-color: #ae9c96;
  color: #ffffff; }

a {
  color: #ffffff;
  text-decoration: none; }
