<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='css/main.css' rel=stylesheet>
  <title>Mean, Median, Mode</title>
</head>
<bod>
  <header><a href="http://bparrish.com">Brent's Page</a></header>
  <h1>Mean Median Mode!</h1>
  <p>This is a Node & Angular single page app that calculates the mean, median, and mode based off of user input.</p>
  <div data-ng-app="mmmApp">
    <div data-ng-controller="mmmCtrl" data-ng-init="index()">
      <section>
      <label>Enter a list of numbers, no commas:</label></br>
      <input type="text" data-ng-model="mmm.num"/>
      <button data-ng-click="calc()">Calculating</button>
    </section>
      </br>
      </br>
      <div id="box" data-ng-show='view == "show"'>
        <p>Mean: {{mmm.mean}}</p>
        <p>Median: {{mmm.median}}</p>
        <p>Mode: {{mmm.mode}}</p>
      </div>
        </div>
      </div>
    </div>
 </div>
  <script src="client_bundle.js"></script>
  <footer>&copy; 2015 Brent Parrish </footer>
</body>
</html>
