<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='css/main.css' rel=stylesheet>
  <title></title>
</head>
<bod>
  <h1>Mean Median Mode!</h1>
  <div data-ng-app="mmmApp">
    <div data-ng-controller="mmmCtrl" data-ng-init="index()">
      <section>
      <label>Enter a list of numbers, no commas:</label></br>
      <input type="text" data-ng-model="mmm.num"/>
      <button data-ng-click="calc()">Calculating</button>
    </section>
      </br>
      </br>
      <div id="box" data-ng-show='view == "show"'>
        <p>Mean: {{mmm.mean}}</p>
        <p>Median: {{mmm.median}}</p>
        <p>Mode: {{mmm.mode}}</p>
      </div>
        </div>
      </div>
    </div>
 </div>
  <script src="client_bundle.js"></script>
  <footer> This is a Node & Angular single page app that calculates the mean, median, and mode based off of user input.</footer>
  <button><a href="http://bparrish.com">Brent's Page</a></button>
</body>
</html>
