<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Mean Median Mode!</h1>
  <div data-ng-app="mmmApp">
    <div data-ng-controller="mmmCtrl">
      <label>Enter a list of numbers for the MMM(no commas):</label></br>
      <input type="text" data-ng-model="mmm.num"/>
      <button data-ng-click="calc()">Calculating</button>
      </br>
      </br>
      <div id="box">
        <p>Mean: {{mmm.mean}}</p>
        <p>Median: {{mmm.median}}</p>
        <p>Mode: {{mmm.mode}}</p>
      </div>
        </div>
      </div>
    </div>
 </div>
  <script src="client_bundle.js"></script>
</body>
</html>
